* {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #f0f2f5;
}

a:visited {
  text-decoration: none;
  color: inherit;
}
.fa-house ::before {
  color: black;
}
@font-face {
  font-family: montserra;
  src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}
.form {
  display: flex;
  flex-direction: column;
  padding: 50px 15px;
  border: 2px gray solid;
  gap: 20px;
  min-width: clamp(20vw, 420px, 1000px);
  border-radius: 8px;
  border-color: white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.form-container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  background-color: #f0f2f5;
}
input {
  padding: 5px;
}
a {
  text-decoration: none;
  color: blue;
}

.login--new {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.top--h1 {
  color: #1877f2;
  font-size: 40px;
  font-weight: bold;
}
.top--description {
  font-size: 18px;
}
.register--btn {
  border: none;
}
.bottom-btn {
  color: white;
  background-color: #24b124;
  padding: 12px 50px;
  font-weight: bold;
  font-family: Helvetica;
  border-radius: 8px;
}
.login--form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.login--btn {
  background-color: #1877f2;
  padding: 12px;
  font-weight: bold;
  color: white;
  border: none;
}
.form-email,
.form-password {
  padding: 12px;
}

input {
  border-radius: 6px;
  border-color: white;
}
.fa-spinner {
  position: absolute;
  top: 47%;
  left: 47%;
  font-size: 50px;
  color: #1f75c7;
  animation-name: loading;
  animation-delay: 100ms;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-play-state: running;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}
@keyframes loading {
  0% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.register--top {
  display: flex;
  justify-content: space-between;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gender--option {
  display: flex;
  align-items: center;
  width: 33%;
  justify-content: space-around;
}

.gender--options {
  display: flex;
  justify-content: space-around;
}
.modal {
  display: flex;
  flex-direction: column;
  gap: 13px;
  font-size: 17px;
}
.register-input {
  height: 40px;
  padding: 4px 8px;
}
.register-name {
  display: flex;
  gap: 5px;
  align-items: center;
}
.register-name > * {
  width: 50%;
}
.register--btn {
  background-color: #00a400;
  padding: 18px 0px;
  width: 50%;
  color: white;
  font-weight: bold;
}
.register-btn-container {
  display: flex;
  justify-content: center;
}

.reg-err {
  border-color: red;
  box-shadow: 2px 1px 2px 5px rgba(205 92 92 / 40%);
}

/* Header stylings */

.header {
  display: flex;
  justify-content: space-between;
  background-color: #f6f4f4;
  height: 48px;
  box-shadow: 1px 2px 3px 3px #ede9e9;
  align-items: center;
  padding: 10px;
  margin-bottom: 8px;
}
.logo-container {
  background-color: rgb(232 232 232);
  border-radius: 20px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-facebook {
  font-size: 40px;
  color: #0095ff;
  background-color: transparent;
}
.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
}
.currentUser-img {
  width: 30px;
  height: 30px;
  border-radius: 20px;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 6px;
}
.settings-logout {
  display: flex;
  gap: 5px;
}

.homepage-container {
  display: flex;
  gap: 8px;
}

.fa-house {
  color: black;
}
.sidebar-item {
  display: flex;
  gap: 6px;
  padding: 5px;
  align-items: center;
  justify-content: flex-start;
}
.sidebar-userimg {
  width: 22px;
  height: 22px;
  border-radius: 12px;
}
.fa-user-group {
  color: #0095ff;
}
.sidebar {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  padding: 8px 5px;
  width: 300px;
}
.homepage {
  background-color: #f0f2f5;
  /* height: 100vh; */
}
.main-top {
  display: flex;
  align-items: center;
  gap: 5px;
}
.main-avatarimg {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}
.main-q {
  background-color: #ede9e9;
  padding: 10px 10px;
  border-radius: 20px;
  width: 100%;
}
.main {
  background-color: white;
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.main-photo {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.mid--intersection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}
.post--mid {
  display: Flex;
  gap: 10px;
  align-items: center;
}
.post-textarea {
  width: 100%;
  height: 200px;
  padding: 12px;
  border: none;
  outline: none;
  resize: none;
  font-size: 20px;
}

.post-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-btn {
  width: 100%;
  background-color: #0095ff;
  color: white;
  font-weight: bold;
}
.post-select-container {
  display: flex;
  align-items: center;
  background-color: #ede9e9;
  padding: 5px 10px;
  border-radius: 20px;
  justify-content: flex-start;
}
.post-select {
  outline: none;
  border: none;
  text-decoration: none;
  background-color: transparent;
  background-color: #ede9e9;
}
.post-img {
  border-radius: 32px;
}
.post-title {
  font-weight: bold;
}

.post--top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-container {
  background-color: #ede9e9;
  position: absolute;
  right: 24px;
  border-radius: 30px;
  padding: 7px 11px;
}
.disabled {
  background-color: #dadada;
  color: #9a9a9a;
}
.post-btn {
  padding: 9px 1px;
}
.post-user {
  display: flex;
  align-items: stretch;
  gap: 4px;
  font-weight: bold;
}
.post-userinfo {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.post-date {
  font-size: 14px;
  font-weight: lighter;
}
.post-avatar-img {
  border-radius: 30px;
  width: 40px;
  height: 40px;
}
.post-bottom {
  display: flex;
  gap: 10px;
  background-color: white;
  justify-content: space-around;
  padding: 12px;
  /* border: 2px solid gray; */
  /* box-shadow: 2px 2px 2px 2px wheat; */
}
.post-info {
  height: fit-content;
  width: 400px;
}
.post-main {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 13px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.posts-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
}
.post-cont {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}
.main {
  margin-bottom: 20px;
}
.post-bottom-section {
  display: Flex;
  align-items: center;
  gap: 10px;
}
.Createcomment {
  background-color: white;
  padding: 8px;
  display: flex;
  gap: 10px;
}
.commentcreate-img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}
.comment-create-msg {
  background-color: #ede9e9;
  width: 100%;
  border-radius: 12px;
  padding: 2px 8px;
  border: none;
  outline: none;
}
.comments-section {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.comment-content {
  background-color: #ede9e9;
  width: fit-content;
  border-radius: 9px;
  padding: 15px 6px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  gap: 2px;
}
.comments-section > img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}
.comments-section-container {
  background-color: white;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.comment-create-msg {
  resize: none;
  padding: 10px 6px;
  height: fit-content;
}
hr {
  width: 94%;
  align-self: center;
  z-index: -1;
}
.post---likes {
  display: flex;
  gap: 10px;
  padding: 6px 5px;
  justify-content: space-between;
}
.post-user-name {
  font-weight: 600;
  font-size: 15px;
}
.post-date {
  font-size: 12px;
}
.post-info {
  padding-left: 3px;
}
.post-likes-comments {
  display: flex;
  gap: 5px;
}
.fa-sort-down {
  font-size: 20px;
  top: 9px;
  position: absolute;
}
* {
  font-weight: 500;
}
.settings-self {
  display: Flex;
  gap: 12px;
  padding: 14px;
  width: 300px;
  position: absolute;
  top: 46px;
  right: 29px;
  background-color: white;
  border-radius: 12px;
  flex-direction: column;
}
.settings-profile {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  gap: 5px;
}
.settings-user-img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}
.settings-self-name {
  font-weight: bold;
}
.settings-top {
  display: flex;
  gap: 10px;
}
.settings-profile-link {
  font-size: 14px;
}

.settings-logout {
  padding: 5px 12px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
}
.settings-logout > * {
  font-weight: bold;
}
.logo-container:hover {
  background-color: #d3cece;
}
.header-user-name {
  font-weight: 600;
  font-family: "Segoe UI Historic", Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 15px;
}
.header-user {
  min-width: fit-content;
  background-color: transparent;
  gap: 5px;
}
.settings-hr {
  width: 100%;
  z-index: 1;
}
.settings-logout:hover {
  background-color: #d3cece;
  border-radius: 12px;
}
.fa-arrow-right-from-bracket {
  font-size: 18px;
}
.profile {
  width: 100%;
  height: 100%;
  background-color: white;
}
.profile-cover {
  aspect-ratio: 16/9;
}
.profile-cover-img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
}
.profile-cover-img-container {
  padding: 0 10%;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  aspect-ratio: 16/9;
}

.profile {
  position: absolute;
  top: 48px;
  z-index: -1;
}
.fa-camera-cover {
  font-size: 18px;
}
.fa-camera-container {
  background-color: white;
  border-radius: 8px;
  width: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 22px;
  bottom: 33%;
  left: 80%;
  z-index: 1;
}
.pfp-mid {
  display: flex;
  flex-direction: column;
  display: Flex;
  align-items: center;
}

.profile-cover {
  position: absolute;
}
.profile-top {
  display: flex;
  justify-content: center;
}
.header {
  position: fixed;
  width: 100%;
}

.profile---mid {
  display: Flex;
  align-items: center;
}

.self-name {
  font-weight: bold;
  font-size: 35px;
  font-family: Helvetica;
  font-family: "montserra";
}
.self > * {
  font-family: "montserra";
}
.pfp-camera-container {
  background-color: white;
  border-radius: 25px;
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  right: 14%;
  justify-content: center;
  top: 38px;
}
.fa-camera-container:hover {
  background-color: #c9c9c9;
}

.self {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10px;
  margin-top: 25px;
}
.cutline {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  top: 109px;
  flex-direction: column;
}

.profile-nav-item {
  display: block;
}
.profile-cover-img {
  object-fit: cover;
}

.coverErr {
  background-color: #424cb5;
  position: relative;
  padding: 3px;
  bottom: 25%;
  width: fit-content;
  font-family: "montsera";
  color: white;
  font-weight: bold;
}

.profile-cover {
  height: 400px;
  width: 100%;
}
.profile-cover-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-user-img-container {
  border-radius: 89px;
  width: 150px;
  height: 150px;
}
.profile-user-img {
  border-radius: inherit;
  width: inherit;
  height: inherit;
  border: 4px solid white;
  object-fit: cover;
}
.profile-nav {
  display: flex;
  padding: 2px 30px;
  justify-content: flex-start;
  gap: 10px;
}
.camera-profilepic {
  font-size: 24px;
}
.pfp-camera-container:hover {
  background-color: #c9c9c9;
}

.profile-cover-img-container {
  padding: 0;
  border-radius: 0;
}
.profile-cover-img {
  padding: 0;
  border-radius: 0;
}
.profile-cover {
  height: 50%;
}
.pfp-mid {
  position: relative;
  top: -54%;
}

.pfp-camera-container {
  right: -31%;
  top: -52px;
}
.profile---mid {
  flex-direction: column;
}
.profile-user-img-container {
  width: 200px;
  height: 200px;
  border-radius: 99px;
}
.self {
  margin: 0;
  padding: 0;
  margin-top: -20%;
}

.main,
.sidebar {
  margin-top: 48px;
}

@media (max-width: 800px) {
  .profile-cover {
    height: 25%;
  }
  .cutline {
    display: none;
  }
}
@media (max-width: 440px) {
  .top--h1 {
    font-size: 24px;
  }
  .top--description {
    font-size: 20px;
  }
  .form {
    min-width: 380px;
  }
  .sidebar {
    display: none;
  }
}

@media (max-width: 900px) {
  .form-container {
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
  .top--description {
    font-size: 24px;
    flex-wrap: nowrap;
  }
  .top--h1 {
    font-size: 40px;
  }
}
